{% include "header.html"%}
<div class="container toppy">
  <div class="col-md-10 col-md-offset-1 panel panel-default">
    <h1 class="margin-base-vertical">About Wisdom of reddit</h1>
    <p class="text-justify">
      Wisdom of reddit lets you search for high quality reddit comments. It is a good tool to read about the opinions shared by people on reddit. I think it will be a valuable research tool for writers looking to incorporate some realism into their stories. Our results are also a great starting points to discovering online communities relevant to your interests.
    </p>
  </div>
  <div class="col-md-10 col-md-offset-1 panel panel-default">
    <h3>Why?</h3>
    <p class="text-justify">
      Ordinary people in relatable settings are at the heart of many great stories. Yet, it is incredibly hard to Google about the lives, experiences and characteristics of ordinary people. Inspired by <a href="http://writetodone.com/the-non-google-research-tool-that-makes-writing-easier/">this article</a>, I have set out to solve this problem. Wisdom of reddit taps into the collective wisdom of <a href="https://reddit.com">reddit.com</a> - one of the largest online communities in the world, with more than 230 million users. I hope this search engine helps writers make their characters and settings more real.
    </p>
  </div>
  {% include "more_about.html"%}
</div>
{% include "footer.html"%}
