{% include "header.html"%}
<div class="container toppy">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="margin-base-vertical">About Wisdom of reddit</h1>
    <p class="text-justify">
      Wisdom of reddit helps writers research the events, activities and lives or normal people. I think it will be a valuable research tool for writers looking to incorporate some realism into their stories. The results also help you discover online communities relevant to your interests.
    </p>
    <p class="text-justify">
      Wisdom of reddit is a property of <a href="http://www.qxf2.com">Qxf2 Services</a> and is being developed by <a href="https://www.linkedin.com/in/arunkumar-muralidharan-808ba810">Arunkumar Muralidharan</a>. If you find bugs or have suggestions, <u>please send feedback to: <b>&#109;&#097;&#107;&#064;&#113;&#120;&#102;&#050;.com</b></u>.
    </p>
  </div>
  {% include "more_about.html"%}
</div>
{% include "footer.html"%}
