      <div class="col-md-10 col-md-offset-1 toppy-20">
	<h2>This post was written by: Arunkumar Muralidharan</h2>
	<div class="col-md-2 toppy-10">
	  <img class="img-responsive img-circle" src="/static/img/arun.jpg">
	</div>
	<div class="col-md-10 toppy-10">
	  <p class="text-justify">
	    Hi, I'm Arun. Wisdom of reddit is my hobby project. I'm currently dabbling with the mathematics of search algorithms - with the hope of discovering the novel and not just the relevant. I work on Wisdom of reddit on weekends. At my day job, I run <a href="https://qxf2.com">Qxf2 Services</a>. Qxf2 provides software testing services for startups. 
	  </p>
	</div>
      </div>
