{% include "header.html" %}
<div class="container toppy">
  <div class="col-md-10 col-md-offset-1">
    <blockquote class="blockquote-reverse">
      <p>There is no great writing, only great rewriting.</p> 
      <footer>Justice Brandeis</footer>
    </blockquote>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <h1>Wisdom of reddit blog</h1>
    </div>
    <div class="row toppy-20">
      <h3><a href="/blogposts/mundane-coincidence-stories">2. Real people and the mundane coincidences they have experienced</a></h3>
      <p class="text-justify">
	I like short stories that have a twist at the end. O'Henry is one of my favorite authors. I love surprising twists at the end of stories. Are you looking for inspiration for your next O'Henry-esque short story? Here is a collection of popular reddit threads with hundreds of relevant comments written by normal people. Happy searching, happy reading!
      </p>
      {% include "separator_1.html" %}
      <h3 class="toppy-20"><a href="/blogposts/real-scary-creepy-paranormal-stories">1. Real people write about their creepy, scary and paranormal experiences</a></h3>
      <p class="text-justify">
	Discover what normal people have writtern about the creepy, scary and paranormal experiences they have had. This post is a gold mine for anyone looking for inspiration for their next horror story. It is also a great starting point for anyone looking to binge read real life horror stories. 
      </p>
    </div>
  </div>
{% include "separator_1.html" %}
{% include "footer.html" %}


