{% include "header.html" %}
<div class="container toppy">
  <div class="col-md-10 col-md-offset-1">
    <blockquote class="blockquote-reverse">
      <p>There is no great writing, only great rewriting.</p> 
      <footer>Justice Brandeis</footer>
    </blockquote>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <h1>Wisdom of reddit blog</h1>
    </div>
    <div class="row toppy-20">
      <h3><a href="/blogposts/real-scary-creepy-paranormal-stories">1. Real people write about their creepy, scary and paranormal experiences</a></h3>
      <p class="text-justify">
	Discover what normal people have writtern about the creepy, scary and paranormal experiences the have had. This post is a gold mine for anyone looking for inspiration for their next horror story. It is also a great starting point for anyone looking to binge read real life horror stories. 
      </p>
    </div>
  </div>
{% include "separator_1.html" %}
{% include "footer.html" %}


