{% include "header.html" %}
<div class="container toppy"}
	<div class="col-md-10 col-md-offset-1">
	<h1 class="margin-base-vertical">"Qxf2 bug trial page"</h1>
	<p class="text-justify">
		This page is created by <a href="http://www.qxf2.com">Qxf2 Services</a> to help practice how to report the bug by introducing bugs in the application
    </p>
	</div>
	
	<div class="row">
	<div class=""col-md-10 col-md-offset-20">
	<h1 class="margin-base-vertical text-centre">Enter the name and password in the provided field</h1>
	  <form class="margin-base-vertical">
		<p class="input-group">
			<span class="input-group-addon"><span class="icon-arrow-right"></span></span>
			<input type="text" class="form-control input-lg" name="submitname" placeholder="Username">
		</p>
		<p class="input-group">
			<span class="input-group-addon"><span class="icon-arrow-right"></span></span>
			<input type="text" class="form-control input-lg" name="password" placeholder="Password">
		</p>
		<p class="text-center top-space-40">
			<button type=" " class="btn btn-success btn-lg">Login</button>
		</p>
	 </form>
	 </div>
    </div>
</div>
{% include "footer.html" %}
	