      <div class="col-md-12">
	<code><a href="/search?query=casino+drunk">casino drunk</a></code>
	<code><a href="/search?query=construction+crew">construction crew</a></code>
	<code><a href="/search?query=%22dentist+here%22">"dentist here"</a></code>
	<code><a href="/search?query=dinosaur+fossil">dinosaur fossil</a></code>
	<code><a href="/search?query=dishwashing">dishwashing</a></code>
	<code><a href="/search?query=ex-marine">ex-marine</a></code>
	<code><a href="/search?query=%22Googler+here%22">"Googler here"</a></code>
	<code><a href="/search?query=%22grew+up+in+the+90s%22">"grew up in the 90s"</a></code>
	<code><a href="/search?query=%22indian+here%22">"indian here"</a></code>
	<code><a href="/search?query=%22lived+in+pakistan%22">"lived in pakistan"</a></code>
	<code><a href="/search?query=neighbor+arrest">neighbor arrest</a></code>
	<code><a href="/search?query=quit+job">quit job</a></code>
	<code><a href="/search?query=%22second+tour+of+iraq%22">"second tour of iraq"</a></code>
	<code><a href="/search?query=%22syrian+here%22">"syrian here"</a></code>
	<code><a href="/search?query=wedding+best+man">wedding best man</a></code>
	<code><a href="/search?query=%22won+the+lottery%22">"won the lottery"</a></code>
	<code><a href="/search?query=%22worked+at+walmart%22+">"worked at walmart"</a></code>
      </div>
