{% include "header.html" %}
<div class="container toppy">
  <div class="col-md-10 col-md-offset-1">
    <blockquote class="blockquote-reverse">
      If he(Mani) were Swaminathan, he would have closed the whole incident at the beginning by hurling an ink-bottle, if nothing bigger was available, at the teacher. 
      <footer>R.K. Narayan, <cite>Swami and Friends</cite></footer>
    </blockquote>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 toppy-10">
      <h1>Example searches</h1>
      <p class="text-justify">
	<a href="/search?query=%22Chess+player+here%22">"Chess player here"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22engineer+here%22">"engineer here"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22worlds+best%22">"worlds best"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22holocaust+survivor%22">"holocaust survivor"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=ex-cia">ex-cia</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22funniest+line%22">"funniest line"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22best+prank%22">"best prank"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22dentist+here%22">"dentist here"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22harry+potter%22">"harry potter"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22worst+writer%22">"worst writer"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22writers+block%22">"writers block"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22russian+here%22">"russian here"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22in+soviet+russia%22">"in soviet russia"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22american+politics%22">"american politics"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22bill+clinton%22">"bill clinton"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22barack+obama%22">"barack obama"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22president+obama%22">"president obama"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22popular+conspiracy%22">"popular conspiracy"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22biggest+fail%22">"biggest fail"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22worst+enemy%22">"worst enemy"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=ex-boyfriend">ex-boyfriend</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22relationship+problems%22">"relationship problems"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22divorcee+here%22">"divorcee here"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22happily+remarried%22">"happily remarried"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22hardest+puzzle%22">"hardest puzzle"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22best+trek%22">"best trek"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22running+advice%22">"running advice"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=depression">depression</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22benefits+of+meditation%22">"benefits of meditation"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=akido">akido</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=mma+training">mma training</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22weight+loss%22">"weight loss"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22boxing+champion%22">"boxing champion"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22worlds+best+pizza%22">"worlds best pizza"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=yummy+food">yummy food</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22dumped+my+girlfriend%22">"dumped my girlfriend"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22deliberate+practice%22">"deliberate practice"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22most+embarrassing%22">"most embarrassing"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22I+lied+through+my+teeth%22">"I lied through my teeth"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22remarkable+story%22">"remarkable story"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=running+marathon">running marathon</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=best+dragon">best dragon</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=scary+dinosaur">scary dinosaur</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22I've+been+sober+for%22">"I've been sober for"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22I+messed+up%22">"I messed up"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22amazing+discovery%22">"amazing discovery"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22epic+story%22">"epic story"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22brilliant+story%22">"brilliant story"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=archery+practice">archery practice</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22great+hobby%22">"great hobby"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=circlejerk">circlejerk</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=academia+cheating">academia cheating</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=doublethink">doublethink</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=north+korea">north korea</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22fled+north+korea%22">"fled north korea"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22fled+china%22">"fled china"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22wall+street%22">"wall street"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=raj+rajaratnam">raj rajaratnam</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=singing+sensation">singing sensation</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22forest+for+the+trees%22">"forest for the trees"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22tournament+poker%22">"tournament poker"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22Why+do+people%22">"Why do people"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=bernie+madoff">bernie madoff</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=ellen+pao">ellen pao</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22single+greatest%22">"single greatest"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22single+greatest+invention%22">"single greatest invention"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=depression++advice">depression  advice</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22bugging+me%22">"bugging me"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=biggest+scam">biggest scam</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22steep+learning+curve%22">"steep learning curve"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=fired+negligence">fired negligence</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=weird+court+case">weird court case</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22weird+neighbour%22">"weird neighbour"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=cuttlefish">cuttlefish</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22late+to+the+party%22">"late to the party"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=Delicatessen+counter">Delicatessen counter</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22best+deli+in%22">"best deli in"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=obamacare+ELI5">obamacare ELI5</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22Senate+staffer%22">"Senate staffer"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22I'm+a+lawyer%22">"I'm a lawyer"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22questioned+by+police%22">"questioned by police"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=talking+to+a+taxi+driver">talking to a taxi driver</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22Went+to+school+with%22">"Went to school with"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22Liver+Transplant%22">"Liver Transplant"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=luckiest+sob">luckiest sob</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=tl;dr">tl;dr</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=idi+amin">idi amin</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=escaped+pol+pot">escaped pol pot</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22holocaust+of+Cambodia%22">"holocaust of Cambodia"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=narrow+escape">narrow escape</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=iranian+revolution">iranian revolution</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22I+love+stories+like+this%22">"I love stories like this"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=wonderful+story">wonderful story</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=ordinary+galaxy">ordinary galaxy</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=invest+stock+market">invest stock market</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=legendary+coach">legendary coach</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22Board+of+Trustees%22">"Board of Trustees"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=Torgeson+story">Torgeson story</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22Bat+biologist+here%22">"Bat biologist here"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=mammals+tough">mammals tough</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22written+several+papers+on+the+subject%22">"written several papers on the subject"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=villa+in+Dubai">villa in Dubai</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=Seychelles">Seychelles</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22how+to+launder+money%22">"how to launder money"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=enron+scandal">enron scandal</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=perfect+crime">perfect crime</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22the+cabal%22">"the cabal"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=reddit+drama">reddit drama</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22explosive+speed%22">"explosive speed"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=banana+olive">banana olive</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=hungover">hungover</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=coworker+passive">coworker passive</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22direct+patient+care%22">"direct patient care"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22nearly+died%22">"nearly died"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22Jehovah's+Witness+family%22">"Jehovah's Witness family"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=blood+transfusion">blood transfusion</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22oil+Sheikh%22">"oil Sheikh"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22marketing+professional%22">"marketing professional"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22middle+of+nowhere%22">"middle of nowhere"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=wind+turbine">wind turbine</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=wedding+DJ">wedding DJ</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=footprint+blood">footprint blood</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=coroner">coroner</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22off+the+Golden+Gate+Bridge%22">"off the Golden Gate Bridge"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22survivor+of+suicide%22">"survivor of suicide"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22lesson+of+life%22">"lesson of life"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22reign+of+terror%22">"reign of terror"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22was+a+slave%22">"was a slave"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=ancient+greece">ancient greece</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22fall+from+grace%22">"fall from grace"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=past+prime">past prime</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=time+travel">time travel</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=time+dilation">time dilation</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=kissing+movies">kissing movies</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22my+first+kiss%22">"my first kiss"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=overestimating+chances">overestimating chances</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=drunk+adventure">drunk adventure</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22Stationed+in+afghanistan%22">"Stationed in afghanistan"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=ptsd+ied">ptsd ied</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=work+emergency+room">work emergency room</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=NYPD+bronx">NYPD bronx</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=broken+elevator">broken elevator</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=broken+hand">broken hand</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22morning+routine%22">"morning routine"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22trip+to+london%22">"trip to london"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=receptionist+boss">receptionist boss</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=craigslist+true+story">craigslist true story</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=animal+research+dog">animal research dog</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22couple+of+dates%22">"couple of dates"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22story+of+betrayal%22">"story of betrayal"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22hiding+in+the+basement%22">"hiding in the basement"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22grew+up+in+pakistan%22">"grew up in pakistan"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=tofu">tofu</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=sushi">sushi</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=entire+life+dedicated">entire life dedicated</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=mathlete">mathlete</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=greatest+lawyer">greatest lawyer</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=graduation+faux">graduation faux</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=greatest+exit">greatest exit</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=infamous+incident">infamous incident</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=arsonist">arsonist</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=neighbor+arrested">neighbor arrested</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=corporate+bullshit">corporate bullshit</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=bill+gates">bill gates</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22I+told+you+so%22">"I told you so"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=plagarism">plagarism</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22hate+mail%22">"hate mail"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22fashion+show%22">"fashion show"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22poet+here%22">"poet here"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=anarchy+office">anarchy office</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22anonymous+call%22">"anonymous call"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22shaving+in+the+morning%22">"shaving in the morning"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22attention+to+detail%22">"attention to detail"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=journalist+scoop">journalist scoop</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=prodigy+parent">prodigy parent</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22overbearing+parents%22">"overbearing parents"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=brilliant+insight">brilliant insight</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=big+pharma">big pharma</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=big+oil">big oil</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=cancer+cure">cancer cure</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=golden+goose">golden goose</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=googler+here">googler here</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=impostor+real-life">impostor real-life</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=writer+soap">writer soap</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22as+a+writer%22">"as a writer"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=love+learn">love learn</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22death+bed%22">"death bed"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=revenge+petty">revenge petty</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22biggest+misconception%22">"biggest misconception"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22horrible+habit%22">"horrible habit"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22I+said+no%22">"I said no"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22aa+meetings%22">"aa meetings"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22missing+person%22">"missing person"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22kidnapped+me%22">"kidnapped me"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22lost+my+mind%22">"lost my mind"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22secret+code%22">"secret code"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=summer+treehouse">summer treehouse</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=Election+cycle">Election cycle</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=coup+staged">coup staged</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=brutal+romania">brutal romania</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=TIL+mexico">TIL mexico</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=dosa">dosa</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=sick+fever">sick fever</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=dog+catch">dog catch</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=liberty+attack">liberty attack</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=shooting+survivor">shooting survivor</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22weight+loss+journey%22">"weight loss journey"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=diet+fell+down">diet fell down</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=apartment+sound">apartment sound</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=speeding+ticket">speeding ticket</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=obscure+fact">obscure fact</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=crossword+puzzles">crossword puzzles</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22reply+all%22">"reply all"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22minor+brain+damage%22">"minor brain damage"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=dishwashing+hobby">dishwashing hobby</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=wheelchair+airport">wheelchair airport</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22crazy+small+world%22">"crazy small world"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22massage+therapist%22++funny">"massage therapist"  funny</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22early+internet%22">"early internet"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22family+run+business%22">"family run business"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22worked+at+an+auction+house%22">"worked at an auction house"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22family+run+business%22">"family run business"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22worst+thing+to+ever+happen+to+me%22">"worst thing to ever happen to me"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22I+was+the+employee%22">"I was the employee"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22same+thing+happened%22">"same thing happened"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=grocery+checkout">grocery checkout</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22self+driving+cars%22">"self driving cars"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22my+bad%22">"my bad"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22I+call+bullshit%22">"I call bullshit"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22called+to+investigate+murder%22">"called to investigate murder"</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/search?query=%22cricket+player+here%22">"cricket player here"</a>&nbsp;&nbsp;&nbsp;&nbsp;
      </p>
    </div>
  </div>
</div>
{% include "separator_1.html" %}
{% include "footer.html" %}

