  <div class="col-md-12">      
    <div class="row-fluid"><!--Copyright-->
      <p class="margin-base-vertical text-center wor_copyright">
	&copy; Wisdom of reddit 2015 - <script>document.write(new Date().getFullYear())</script>
      </p>
    </div><!--Copyright-->
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-7NJY5XLDFK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-7NJY5XLDFK');
    </script>
</body>
</html>
