<!doctype html>
<head>
  <title>Wisdom of reddit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Bootstrap -->
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet">
  <!-- Wisdom of reddit style -->
  <link href="/static/css/wor_style.css" rel="stylesheet">
</head>
<body>
   <!-- Fixed navbar Src: https://getbootstrap.com/examples/navbar-fixed-top/#-->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
	<div class="navbar-header">
	  <a class="navbar-brand" href="/"><img src="/static/img/wor_logo.png" alt="Wisdom of reddit" class="logo img-responsive"></img></a>
	</div>
	<div id="navbar" class="navbar-collapse pull-right top-space-10">
          <ul class="nav navbar-nav">
            <li><a href="./about">About</a></li>
	  </ul>
	</div>
      </div>
    </nav>


