      <div class="col-md-10 col-md-offset-1 panel panel-default">
	<h3>Use cases:</h3>
	We are especially good at these use cases:
	  <ul>
	    <li class="text-justify"><u>Profession search</u>. You can search for professions like this "profession here" E.g.: "surgeon here"</li>
	    <li class="text-justify"><u>Place search</u>. Search for places like this "place here" or "grew up in place" E.g.: "londoner here", "grew up in pakistan"</li>
	    <li class="text-justify"><u>Random comments</u>. Leave the search box blank to get a random set of highly rated comments</li>
	  </ul>
      </div>
      <div class="col-md-10 col-md-offset-1 panel panel-default">
	<h3>Getting more out of Wisdom of reddit</h3>
	  <ul>
	    <li class="text-justify"><u>Phrase search</u>. You can search for phrases by using double quotes E.g.: "story of betrayal"</li>
	    <li class="text-justify"><u>Check your spelling</u>. Version 1.0 does not have spell check yet - sorry.</li>
	    <li class="text-justify"><u>Don't use sentences</u>. E.g.: 'Tesla Edison' is a better query than 'what happened between Tesla and Edison'.</li>
	    <li class="text-justify"><u>Explore the reddit thread</u>. Once you find a result you like, view all comments in the reddit post.</li>
	  </ul>
      </div>
