{% include "header.html" %}
  <div class="container toppy">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 panel panel-default">
	<h1 class="margin-base-vertical text-center">Writers, find what real people say!</h1>
	{% include "form.html" %}
      </div>
    </div>
  </div>
  {% include "separator_1.html" %}
  {% include "example_searches.html" %}
  {% include "separator_1.html" %}
  {% include "index_subsections.html" %}
  {% include "separator_1.html" %}
  {% include "footer.html" %}
