<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
	<a href="/why"><img class="img-responsive col-md-6 col-md-offset-3" src="/static/img/why_icon.png"></img></a>
      </div>
      <a href="/why"><h3 class="margin-base-vertical text-center">Why?</h3></a>
    </div>
    <div class="col-md-4">
      <div class="row">
	<a href="/uses"><img class="img-responsive col-md-6 col-md-offset-3" src="/static/img/uses_icon.png"></img></a>
      </div>
      <a href="/uses"><h3 class="margin-base-vertical text-center">Uses</h3></a>
    </div>
    <div class="col-md-4">
      <div class="row">
	<a href="/pro-tips"><img class="img-responsive col-md-6 col-md-offset-3" src="/static/img/protips_icon.png"></img></a></div>
      <a href="/pro-tips"><h3 class="margin-base-vertical text-center">Pro tips</h3></a>
    </div>
  </div>
</div>
