      <div class="col-md-10 col-md-offset-1 panel panel-default">
	<h3>Getting more out of Wisdom of reddit</h3>
	  <ul>
	    <li class="text-justify"><u>Phrase search</u>. You can search for phrases by using double quotes E.g.: "story of betrayal"</li>
	    <li class="text-justify"><u>Profession search</u>. You can search for professions like this "profession here" E.g.: "surgeon here"</li>
	    <li class="text-justify"><u>Place search</u>. Search for places like this "place here" or "grew up in place" E.g.: "londoner here", "grew up in pakistan"</li>
	    <li class="text-justify"><u>Random comments</u>. Leave the search box blank to get a random set of highly rated comments</li>
	    <li class="text-justify"><u>Check your spelling</u>. Version 1.0 does not have spell check yet - sorry.</li>
	    <li class="text-justify"><u>Don't use sentences</u>. E.g.: 'Tesla Edison' is a better query than 'what happened between Tesla and Edison'.</li>
	    <li class="text-justify"><u>Explore the reddit thread</u>. Once you find a result you like, view all comments in the reddit post.</li>
	  </ul>
      </div>
      <div class="col-md-10 col-md-offset-1 panel panel-default">
	<h3>Known limitations</h3>
	<p class="text-justify">
	  Wisdom of reddit has indexed only a small subset (~0.07%) of all reddit comments. All the 1.2 million comments chosen are at least 150 words long and have scored more than 35 upvotes. The comments span from October, 2007 to September, 2015. So it is possible that a comment you were looking for is not showing up. 
	</p>
      </div>
      <div class="col-md-10 col-md-offset-1 panel panel-default">
	<h3>Technical details</h3>
	<p class="text-justify">
	  Wisdom of reddit has indexed about 1.2 million comments out of a possible <a href="https://bigquery.cloud.google.com/dataset/fh-bigquery:reddit_comments">1.7 biliion</a> comments. All comments that were chosen were at least 150 words long and have scored more than 35 upvotes. The comments span from October, 2007 to September, 2015. The tech stack of Wisdom of reddit includes: Python, Flask, Whoosh, Whoosh's default BM25f scoring algorithm, BigQuery, nginx, git and is hosted on EC2.   
	</p>
      </div>
      <div class="col-md-10 col-md-offset-1 panel panel-default">
	<h3>What's cooking</h3>
	<p class="text-justify">
	  I am working on the following (in order of priority):
	  <ul>
	    <li class="text-justify">Including relevant threads in the search results</li>
	    <li class="text-justify">Letting search queries be more natural</li>
	    <li class="text-justify">Covering all reddit comments - instead of just a sub set</li>
	    <li class="text-justify">Incorporating date and upvotes into the search results</li>
	  </ul>
	  A great way to get me to change my priorities, is to email me at &#109;&#097;&#107;&#064;&#113;&#120;&#102;&#050;.com.
	</p>
      </div>
      <div class="col-md-10 col-md-offset-1 panel panel-default">
	<h3>Feedback</h3>
	<p class="text-justify">
	  Wisdom of reddit is a property of <a href="http://www.qxf2.com">Qxf2 Services</a> and is being developed by <a href="https://www.linkedin.com/in/arunkumar-muralidharan-808ba810">Arunkumar Muralidharan</a>. I know I run a software testing firm - but this is a side project and I don't have people to help me test this search engine. You know, cobblers have no shoes and all that. If you find bugs or have suggestions, please send feedback to: <b>&#109;&#097;&#107;&#064;&#113;&#120;&#102;&#050;.com</b>
	</p>
      </div>
      <div class="col-md-10 col-md-offset-1 panel panel-default">
	<h3>Donations</h3>
	<p class="text-justify">
	  Thanks - that's very thoughtful of you. I am fortunate enough to not need the money as of today. If Wisdom of reddit helped you, and you *really* feel like giving, please <a href="https://wikimediafoundation.org/wiki/Ways_to_Give">donate to the Wikimedia foundation</a> instead.
	</p>
      </div>
