{% include "header.html" %}
<div class="container toppy">
  <div class="col-md-10 col-md-offset-1">
    <blockquote class="blockquote-reverse">
      The writer is an explorer. Every step is an advance into a new land. <footer>Ralph Waldo Emerson</footer>
    </blockquote>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <h1>Get more out of Wisdom of reddit</h1>
      This page will show you how to use Wisdom of reddit like a pro!
    </div>
    <div class="row toppy-20">
      <h3><u>1. Use simple words</u></h3>
      <p class="text-justify">
	Use simple words. People on reddit usually write the way they speak. So try searching by using simple phrases and words employed by the vast majority of online users. Don't use sentences. E.g.: 'Tesla Edison' is a better query than 'what happened between Tesla and Edison'.
      </p>
    </div>
    <div class="row toppy-20">
      <h3><u>2. Use double quotes to search for phrases</u></h3>
      <p class="text-justify">You can search for phrases by using double quotes. This is one of the cooler and more powerful features of Wisdom of reddit. It allows you perform excellent profession and place searches. E.g.: <code><a href="/search?query=%22surgeon+here%22">"surgeon here"</a></code> E.g.: <code><a href="/search?query=%22londoner+here%22">"londoner here"</a></code></p>
    </div>
    <div class="row toppy-20">
      <h3><u>3. Explore the reddit posts and subreddits</u></h3>
      <p class="text-justify">
	Every comment exists within a reddit thread. Sometimes the reddit threads are very interesting and relevant. Everytime you read a comment, consider visiting the parent post that contains all comments relevant to that post. Every search result also lists a subreddit. If you are new to reddit, a subreddit is simply an online community (on reddit.com)  interested in a specific topic. Explore the subreddit and see if you would like to become part of that community. Being part of the community is free and you will (usually) be able to post your questions and doubts on the subreddit. 
      </p>
    </div>
    <div class="row toppy-20">
      <h3><u>4. Check your spelling</u></h3>
      <p class="text-justify">
	Version 1.0 does not have spell check yet - sorry.
      </p>
    </div>
  </div>
{% include "separator_1.html" %}
{% include "footer.html" %}
