{% include "header.html" %}
<div class="container toppy">
  <div class="col-md-10 col-md-offset-1">
    <blockquote class="blockquote-reverse">
      <p>... life is infinitely stranger than anything which the mind of man could invent.</p> 
      <footer>Sir Arthur Conan Doyle, <cite>A Case of Identity</cite></footer>
    </blockquote>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <h1>Why?</h1>
    <p class="text-justify">
      Ordinary people in relatable settings are at the heart of many great stories. Yet, it is incredibly hard to Google about the lives, experiences and characteristics of ordinary people. Inspired by <a href="http://writetodone.com/the-non-google-research-tool-that-makes-writing-easier/">this article</a>, I have set out to help writers peek into the lives and events of normal folk. I do this by tapping into comments written by ordinary people on <a href="https://reddit.com">reddit.com</a> - one of the largest online communities in the world, with more than 230 million users.
    </p>
  </div>
  {% include "separator_1.html" %}
  <div class="col-md-10 col-md-offset-1">
    <h1>Goal</h1>
    <p class="text-justify">
      Paraphrasing my favorite author, Sir Arthur Conan Doyle, Wisdom of reddit exists to help writers hover over a great online community and peep in at the queer things which are going on, the strange coincidences, the plannings, the cross-purposes, the wonderful chains of events, working through generations, and leading to the most outre results.
    </p>
  </div>
</div>
{% include "separator_1.html" %}
{% include "footer.html" %}

