{% include "header.html" %}
<div class="container toppy">
  <div class="col-md-10 col-md-offset-1">
    <blockquote class="blockquote-reverse">
      <p>In the space between chaos and shape there was another chance.</p> 
      <footer>Jeanette Winterson</footer>
    </blockquote>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <h1>Mundane coincidences in real life</h1>
    </div>
    <div class="row toppy-20">
      <p class="text-justify">
	I like short stories that have a twist at the end. O'Henry is one of my favorite authors. Here is a collection of popular reddit threads with hundreds of relevant comments about plot twists that happened to real people in real life. Happy searching, happy reading!
      <ol class="toppy-20">
	<li><a href="https://www.reddit.com/r/AskReddit/comments/3nc3b7/what_is_the_most_unbelievable_coincidence_you/">What is the most unbelievable coincidence you ever experienced?</a></li>
	<li><a href="https://www.reddit.com/r/AskReddit/comments/33kily/whats_the_most_unexplainable_shit_youve_ever/">What's the most unexplainable shit you've ever witnessed?</a></li>
	<li><a href="https://www.reddit.com/r/AskReddit/comments/fivpg/what_is_the_most_bizarre_coincidence_youve_ever/">What is the most bizarre coincidence you've ever experienced?</a></li>
	<li><a href="https://www.reddit.com/r/AskReddit/comments/1o9sln/what_is_the_weirdest_thing_to_ever_happen_to_you/">What is the weirdest thing to ever happen to you that you had to write off as coincidence because it was too strange to prove?</a></li>
	<li><a href="https://www.reddit.com/r/AskReddit/comments/15xbrk/whats_the_biggest_coincidence_youve_ever_had/">What's the biggest coincidence you've ever had happen to you?</a></li>
	<li><a href="https://www.reddit.com/r/AskReddit/comments/3bqmvj/whats_the_most_insane_coincidence_youve/">What's the most insane coincidence you've experienced?</a></li>
	<li><a href="https://www.reddit.com/r/AskReddit/comments/1fback/what_is_the_craziest_coincidence_youve_ever/">What is the craziest coincidence you've ever experienced?</a></li>
	<li><a href="https://www.reddit.com/r/AskReddit/comments/1fback/what_is_the_craziest_coincidence_youve_ever/">What is the craziest coincidence you've ever experienced?</a></li>
      </ol>
      </p>
    </div>
    <div class="row toppy-20">
      <h2>I collected these eight links in under 30 minutes!</h2>
      <p class="text-justify toppy-20">
	How did I collect these links? I used <a href="https://wisdomofreddit.com">Wisdom of reddit</a>! Wisdom of reddit helps you discover real life experiences of ordinary people. We search through comments on the Internet written by ordinary people. Our search results focus on what is interesting and not what is necessarily relevant. Take a look at the 'Related searches' section of this post to learn how you can harness the power of Wisdom of reddit.
      </p>
      <h2 class="toppy-20">Serendipitous stumbling</h2>
      <p class="text-justify toppy-20">
	Here are some interesting stories I stumbled upon. I read about a letter dropped in a crowded place is miraculously picked up by the intended receiver. The story of a person losing their license at the security line of an airport and then locating it more than a year later at the exact same line caught my attention. And the whimsical story of someone flicking on a switch at the exact moment the power came back was exactly the kind of mundane, but interesting moment I was looking for. I loved the story of a homeless man giving someone a $50 bill and a note. I read about the weird experience of a paramedic firefighter, the recurrent dreams that meant something and the premonitions of death that several people experienced. It was a lot of fun and I came away with plenty of ideas.
      </p>
      <h2 class="toppy-20">But my favorite story ...</h2>
      <p class="text-justify toppy-20">
	But my favorite story happened to be one that had no connection to my initial quest. I happened to search for <code><a href="https://www.wisdomofreddit.com/search?query=%22funny+coincidence%22">"funny coincidence"</a></code> and the very first search result was about a person not having cash to pay for a meal they had already consumed. The story itself was not all that great, but the parent thread posed a very interesting question: <a href="https://www.reddit.com/r/AskReddit/comments/1y6x6r/have_you_ever_ate_at_a_restaurant_and_have_been/">"Have you ever eaten at a restaurant and then realized you were unable to pay for it?"</a>. Not only does the question get you started, the top comment on that thread is a fantastic story. The top comment is about the <a href="https://www.reddit.com/r/AskReddit/comments/1y6x6r/have_you_ever_ate_at_a_restaurant_and_have_been/cfi153c">good will that the Dutch harbor towards Canada</a> and how it helped a Canadian who was short of money. 
      </p>
      <p class="text-justify toppy-20">
	And this is how I spent an interesting evening reading through hundreds of real life stories about coincidences. I hope you experience a similar adventure with Wisdom of reddit.
      </p>
      <h2 class="toppy-20">Related searches on Wisdom of reddit:</h2>
      <ol>
	<li><code><a href="https://www.wisdomofreddit.com/search?query=%22bizarre+coincidence%22">"Bizarre coincidence"</a></li></code>
	<li><code><a href="https://www.wisdomofreddit.com/search?query=%22funny+coincidence%22">"Funny coincidence"</a></li></code>
	<li><code><a href="https://www.wisdomofreddit.com/search?query=%22weird+coincidence%22">"Weird coincidence"</a></li></code>
	<li><code><a href="https://www.wisdomofreddit.com/search?query=freaky+coincidence">freaky coincidence</a></li></code>
	<li><code><a href="https://www.wisdomofreddit.com/search?query=insane+coincidence">insane coincidence</a></li></code>
	<li><code><a href="https://www.wisdomofreddit.com/search?query=unbelievable+coincidence">unbelievable coincidence</a></li></code>
	<li><code><a href="https://www.wisdomofreddit.com/search?query=random+coincidence">random coincidence</a></li></code>
	<li><code><a href="https://www.wisdomofreddit.com/search?query=historic+coincidence">historic coincidence</a></li></code>
      </ol>
      <p class="text-justify toppy-10">
	<strong>Pro tip:</strong> Anytime I read a comment, I made sure to look at the parent thread too
      </p>
    </div>
  </div>
{% include "separator_1.html" %}
{% include "arun.html" %}
{% include "separator_1.html" %}
{% include "blogposts/comments.html" %}
{% include "separator_1.html" %}
{% include "footer.html" %}











